<?xml version="1.0" encoding="utf-8"?>
<Media Key="3da34ecb-9a56-4102-8569-a35236821179" Alias="52193123119 Dee8c357a7 K" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dee8c357a7K</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-20T18:41:54</CreateDate>
    <NodeName Default="52193123119 Dee8c357a7 K" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zvhkgpkw/52193123119_dee8c357a7_k.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>